<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Foundation 5</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/normalize.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/foundation.min.css">
<link href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>

<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>
<body>

<nav class="top-bar" data-topbar>
<ul class="title-area">

<li class="name">
<h1>
<a href="#">
<img src="../img/Logo.png"/>
</a>
</h1>
</li>
<li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
</ul>

<section class="top-bar-section">
<ul class="right">
<li class="divider"></li>
<li class="has-dropdown">
<a>Servicios informáticos</a>
<ul class="dropdown">
<li><label>Servicios</label></li>
<li class="has-dropdown">
<a href="#" class="">Instalacion y mantenimientos</a>
<ul class="dropdown">
<li><a href="#">Mantenimiento informático</a></li>
<li><a href="#">Reparaciones informáticos</a></li>
<li><a href="#">Instalaciones informáticos</a></li>
</ul>
</li>
<li><a href="#">Desarrollo Web</a></li>
<li><a href="#">Asesoramiento</a></li>
</ul>
</li>

<li class="has-dropdown">
<a>Proveedores</a>
<ul class="dropdown">
<li><label>Proveedores</label></li>
<li><a href="http://www.pccomponentes.com/">PcComponentes</a></li>
</ul>
</li>

<li class="divider"></li>
<li><a href="#">Quienes somos?</a></li>
<li class="divider"></li>
<li>
<a href="#">Proyectos</a>
</ul>
</li>
</section>
</nav>

<div class="row">
<div class="large-12 columns">

<div class="row">
<div class="large-12 hide-for-small">
<div id="featured" data-orbit>
<img src="../img/sala2.jpg" alt="slide image">
<img src="../img/sala1.jpg" alt="slide image">
<img src="../img/sala3.jpg" alt="slide image">
</div>
</div>
</div>

<div class="row">
<div class="large-12 columns">
<div class="row">
<div class="large-4 small-6 columns">
<h4>Ultimos trabajos realizados</h4><hr>
<div class="row">
<div class="large-1 column">
<img src="http://placehold.it/50x50&amp;text=[img]">
</div>
<div class="large-9 columns">
<h5><a href="http://www.armariosempotrados.net/">Kirchen</a></h5>
<img src="../img/logo3.png">
</div>
</div><hr>
<div class="hide-for-small">
<div class="row">
<div class="large-1 column">
<img src="http://placehold.it/50x50&amp;text=[img]">
</div>
<div class="large-9 columns">
<h5 class="subheader"><a href="http://www.iti.es/es">ITI - Instituto Tecnológico de Informática</a></h5>
<img src="../img/logoiti.png">
</div>
</div><hr>
<div class="row">
<div class="large-1 column">
<img src="http://placehold.it/50x50&amp;text=[img]">
</div>
<div class="large-9 columns">
<h5 class="subheader"><a href="http://www.foc.es/">Instituto FOC</a></h5>
<img src="../img/logo2.png">
</div>
</div><hr>
<div class="row">
<div class="large-1 column">
<img src="http://placehold.it/50x50&amp;text=[img]">
</div>
<div class="large-9 columns">
<h5 class="subheader"><a href="http://www.gamergy.es/">Gamergy</a></h5>
<img src="../img/logo4.png">
</div>
</div>
</div>
</div>


<div class="large-4 small-6 columns">
<img src="../img/info.jpg">
</div>


<div class="large-4 small-12 columns">
<h4>Comentarios de clientes</h4><hr>
<div class="panel">
<h5><a href="#">Kirchen</a></h5>
<h6 class="subheader">
Le agradezco el que dispusiera parte de su tiempo para escuchar mis peticiones y ofrecerme sus consejos sobre la actual pagina web.
</h6>
</div>
<div class="panel hide-for-small">
<h5><a href="#">Instituto FOC</a></h5>
<h6 class="subheader">
Me dirijo a usted para dar mi agradecimiento por el tiempo y la atención que me brindó por los probemas tecnicos.
</h6>
</div>
<div class="panel hide-for-small">
<h5><a href="#">Gamergy</a></h5>
<h6 class="subheader">
Quiero agradecer les muy sinceramente por las instalaciones realizadas en nuestro evento.
</h6>
</div>
<a href="#" class="right"></a>
</div>
</div>
</div>
</div>


<footer class="row">
<div class="large-12 columns"><hr>
<div class="row">
<div class="large-6 columns">
<p>&copy; Copyright no one at all. Go to town.</p>
</div>
<div class="large-6 small-12 columns">
<ul class="inline-list right">
<li><a href="#">Correo</a></li>
<li><a href="#">Localización</a></li>
<li><a href="#">Quienes somos?</a></li>
</ul>
</div>
</div>
</div>
</footer>

</div>
</div>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/js/foundation.min.js"></script>
<script>
      $(document).foundation();
    </script>
  <script src="js/bundle.js"></script>
</body>

</html>
